@{
    ViewBag.Title = "Kontakta oss";
}
<h2>@ViewBag.Title.</h2>

<address>
    Filmgatan 7<br />
    112 00 Stockholm<br />
    <abbr title="Telefon">Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@moviestore.movie">support@moviestore.movie</a>
</address>