@{
    ViewBag.Title = "MovieStore";
}

<div class="jumbotron">
    <h1>MovieStore</h1>
    <p class="lead">Administrera dina kunder och filmer för din videbutik</p>
    <p><a href="/Movie/" class="btn btn-primary btn-lg">Se vilka filmer som finns</a></p>
</div>