@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MovieStore</h1>
    <p class="lead">Hyr alla dina favoritfilmer på MovieStore</p>
    <p><a href="/Movie/" class="btn btn-primary btn-lg">Se vilka filmer vi har i lager</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Skapa ett konto</h2>
        <p>
            Efter att du har skapat ditt konto är du redo att hyra filmer.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hyr så länge du vill</h2>
        <p>Du väljer själv hur länge du vill hyra en film, 1 dag eller 100 dagar. Spelar ingen roll!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Betygsätt det du har sätt</h2>
        <p>Tyckte du filmen var bra? Betygsätt filmen och få förslag på andra filmer du borde tycka om.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>